* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style-type: none !important;
    transition: 500ms;
    /* border: solid 1px red; */
}
button{
    border: unset !important;
}
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 120px;
    z-index: 99;
    cursor: pointer;
    background:transparent;
  }
  
  #topBtn:hover  svg circle{
   fill: #000;
  }
  #preloder{
    z-index: 1000 !important;
  }
span {
    color: unset !important;
}

.nav-bar1 {
    height: 100px;
}

.span-bg {
    border: unset !important;
}

dl,
ol,
ul {
    margin-left: 72px !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: unset !important;
}

h1 {
    margin-bottom: unset !important;
}

.nav-bttn {
    color: #F66F4D;
    width: 170px;
    height: 54px;
    background: transparent;
    border-radius: 27px;
    border: 1.4px solid #F66F4D !important;
    transition: 0.1ms ease-in-out;
}

.nav-bttn:hover,
.nav-bttn:hover svg path {
    transition: 0.50s ease-in-out;
    background: black;
    border: transparent !important;
    color: white;
    fill: white;
}

.tags-line:hover {
    color: #F66F4D;
    position: relative;
}

.tags-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: #F66F4D;
    transition: 0.50s ease-in-out;
}

.tags-line:hover:after {
    width: 100%;
}

.shownav {
    left: 0 !important;
}

.span1_rotate {
    transition: all 600ms linear;
    margin-top: 15px;
    transform: rotate(54deg);
    z-index: 200 !important;
}

.span3_rotate {
    transition: all 600ms linear;
    display: none;
    z-index: 200 !important;
}

.span2_rotate {
    transition: all 600ms linear;
    margin-top: -13px;
    transform: rotate(-51deg);
    z-index: 200 !important;
}

span {
    border: 2px solid #F66F4D;
    height: 3px !important;
    background: red !important;
    display: flex;
    margin-bottom: 10px;
    border-radius: 3px;
    z-index: 200 !important;
}


/* hro-section */
.hro-box {
    min-height: 70px;
    max-width: 500px;
    border-radius: 38px;
    background: #FDFEFF;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
}

.search-box :hover svg rect {
    fill: #000;
}

.smal-box {
    margin-top: 13px;
    margin-left: 40px !important;

}
.small-box-mt{
    margin-top:8px ;
}

.border-lft {
    width: 0.1px !important;
    height: 47px;
    background: #EAEAEB;
}

.search-box {
    margin-top: 8px;
    margin-left: -2px;
}

.svg-position {
    margin-top: -10px;
    margin-left: 20px;
}



.card1 {
    border: none !important;
    width: 133.424px !important;
    height: 145.712px !important;
    border-radius: 9.879px !important;
    background: #FFF !important;
    box-shadow: 0px 14px 24px -10px rgba(226, 154, 53, 0.20) !important;
    bottom: 5%;
    left: -4%;
    transition: 0.30s linear;
}

.card1:hover {
    transform: scale(1.03);
}

.card-img {
    margin-top: -42px;
}

.card-img2,
.card-img3 {
    margin-left: -33px;
}

.loction-box {
    margin-top: 19px;
    z-index: 5 !important;
    transform: translateX(154%);
    padding: 7px;
    border-radius: 5px;
    background: white;
    width: 65px;
    height: 22px;
}

span {
    background: none !important;
}

/* categories section */
.pt-100 {
    padding-top: 150px !important;
}

.slider-img-effet {
    position: relative;
    cursor: pointer;
    border-radius: 300px !important;
}
.arrowright{
    transform: rotate(180deg);
}
.slider-img-effet::after {
    content: "visit";
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: #000;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    transition: 300ms ease-in-out;
    opacity: 0;

}

.slider-img-effet:hover:after {
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}



.slick-next:hover,
.slick-prev:hover {
    color: black !important;
}
.next-btn{
   
    background: transparent;
}
.prev-btn{
    margin-right: 10px;
    background: transparent;
}

.next-btn:hover svg path {
    fill: #2D3134;
}

.next-btn:hover svg path {
    stroke: white;
}

.next-btn:hover svg circle{
    fill: #2D3134;
}
.prev-btn:hover svg path {
    fill: #2D3134;
}

.prev-btn:hover svg path {
    stroke: white;
}

.prev-btn:hover svg circle{
    fill: #2D3134;
}

/* Our Experience */
.small-card2 {
    max-width: 140px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.70);
    transition: 0.10s linear;
}

.small-card2:hover {
    transform: scale(1.10);
}

.ml-10 {
    padding-left: 12px;
}




/* popular destination */
.slider-card {
    padding: 12px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #FAF8ED;
    box-shadow: 0px 24px 90px 0px rgba(192, 188, 161, 0.22);
}

.card-bttn {
    background: transparent;
    border-radius: 46px;
    border: 1px solid #2D3134 !important;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.card-bttn:hover {
    background: #000;
    color: white;
}

.slider3 .slick-next {
    top: 30 !important;
}

.slider3 {
    z-index: 2;
}

.slick-next:before,
.slick-prev:before {
    opacity: 0 !important;
}

.slider3 .slick-list {
    padding: 0 20% 0 0;
    position: relative;
    overflow: visible !important;
    z-index: -1;
}

.slider3::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: #FAF8ED;
}

.padding-cards {
    margin-top: 50px;
}
.overflow-hidden{
    overflow: hidden !important;
}
p {
    margin-top: 0 !important;
    margin-bottom: unset !important;
}

footer {
    background: #FAF8ED;
}

section {
    background: #FAF8ED;
}

.lh-34 {
    line-height: 34px;
}

.lh-40 {
    line-height: 40px;
}

.lh-30 {
    line-height: 30px;
}

.ps-30 {
    padding-left: 20px;
}

.fs-20 {
    font-size: 16px !important;
}

.bg-img {
    background: url(/assets/images/bg-rectangle.png);
    border-radius: 30px;
}

.send-btn {
    left: 75%;
    top: 0;
}

.email-box input {
    outline: none;
    border: none;
    width: 250px;
    padding: 15px;
    border-radius: 12px;
}

.email-box input::placeholder {
    color: var(--grey-color);
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
}

/* .w-365 {
    width: 365px;
} */

.line {
    height: 8px;
    width: 67px;
    background: linear-gradient(159.99deg, #FFD482 13.35%, #FFBE82 118.92%);
}

.sec-6-heading {
    /* padding-right: 65px; */
}

/* slider Start */
.card-main {
    width: 300px;
    background-color: white;
}

.slider {
    height: 275px;
    width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.fs-40{
    font-size: 24px !important;
}

.slide {
    width: 100%;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
}

.card-para {
    padding: 20px;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #2D3134 !important;
    border-radius: 50% !important;
    z-index: 10;
    cursor: pointer;
}

.btn:hover {
    color: white !important;
    background-color: #2D3134 !important;
}

.btn-prev {
    top: 79%;
    left: 60%;
}

.btn-next {
    top: 79%;
    right: 9%;
}

/* slider End */

span a {
    border: 1px solid;
    border-color: var(--color-black);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    margin-right: 15px;
}

span a:hover {
    color: white;
    background-color: #2D3134;
}

.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.grid-box1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid-box2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.grid-box3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.grid-box4 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.grid-box5 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.grid-box6 {
    grid-column: 1/2;
    grid-row: 6/7;
}

.border-radius-grid{
    border-radius: 20px;
}
.span-border{
    border: none !important;
}
.span-ml{
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.svg1, .svg2 , .svg3{
    cursor: pointer;
}
.svg1:hover path{
    cursor: pointer;
    fill: #F66F4D;
}
.svg1:hover circle{
    cursor: pointer;
    stroke: #F66F4D;
}
 .svg2:hover path{
    cursor: pointer;
    fill: #F66F4D;
}
 .svg2:hover circle{
    cursor: pointer;
    stroke: #F66F4D;
}
.svg3:hover path{
    cursor: pointer;
    fill: #F66F4D;
}
.svg3:hover circle{
    cursor: pointer;
    stroke: #F66F4D;
}

@media (min-width:320px) {
    .card-bttn {
        padding: -3px !important;
    
    }
}
@media (min-width:576px) {
    :root {
        --fs-12: 12px;
        --fs-14: 14px;
        --fs-16: 12px !important;
        --fs-18: 18px !important;
        --fs-20: 20px;
        --fs-21: 21px;
        --fs-24: 24px;
        --fs-26: 26px;
        --fs-28: 28px;
        --fs-40: 32px !important;
        --fs-46: 46px;
        --fs-56: 40px !important;
        --fs-84: 84px;
    }

    .email-box input {
        width: 450px;
        padding: 25px;
    }

    .w-365 {
        width: 365px;
    }

    .card-para {
        padding: 30px;
    }

    .fs-18 {
        font-size: 18px !important;
    }

    .ps-30 {
        padding-left: 30px;
    }

    .btn-prev {
        left: 77%;
    }

    .btn-next {
        right: 5%;
    }

    .w-365 {
        width: 365px;
    }

    .email-box input {
        width: 350px;
    }

    .send-btn {
        top: 9px;
        left: 80%;
    }

    .sec-6-heading {
        padding-right: 0px;
    }


    .slider-sm {
        width: 500px;
    }
}
@media (min-width:768px) {
    .sec-6-heading {
        padding-right: 0px;
    }

    .fs-56 {
        font-size: 48px !important;
    }

    .line-sm {
        margin-left: auto;
        margin-right: auto;
    }

    .grid-box1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .grid-box2 {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    
    .grid-box3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .grid-box4 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .grid-box5 {
        grid-column: 2/3;
        grid-row: 3/5;
    }
    
    .grid-box6 {
        grid-column: 1/2;
        grid-row: 4/6;
    }
}
@media (min-width:992px) {
    .width-hro {
        padding-top: 80px;
        padding-right: 120px !important;
    }
    .smal-box-border{
        border-left: #EAEAEB 1px solid;
    }
    :root {
        --fs-12: 12px;
        --fs-14: 14px;
        --fs-16: 16px !important;
        --fs-18: 18px;
        --fs-20: 20px;
        --fs-21: 21px;
        --fs-24: 24px;
        --fs-26: 26px;
        --fs-28: 28px;
        --fs-40: 40px !important;
        --fs-46: 46px;
        --fs-56: 56px;
        --fs-84: 84px;
    }

    .pe-lg-65 {
        padding-right: 65% !important;
    }

    .email-box input {
        width: 450px;
    }

    .w-365 {
        width: 365px;
    }

    .send-btn {
        left: 84%;
    }

    .line-lg {
        margin-right: auto;
        margin-left: 0;
    }

    .sec-6-heading {
        padding-right: 65px;
    }

    .fs-56 {
        font-size: 46px !important;
    }
}
@media (min-width:1200px) {
    .fs-56 {
        font-size: 56px !important;
    }

    .line {
        margin-left: 22px;
    }

    .ps-22 {
        padding-left: 22px;
    }

    .grid-box1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .grid-box2 {
        grid-column: 2/3;
        grid-row: 1/ 3;
    }
    
    .grid-box3 {
        grid-column: 3/5;
        grid-row: 1/2;
    }
    
    .grid-box4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .grid-box5 {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    
    .grid-box6 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
}

@media (min-width:1400px) {
    .padding-box {
        padding-right: 93px;
        padding-left: 103px;
        padding-top: 50px !important;
        padding-bottom: unset !important;
    }

    .padding-cards {
        padding-left: 100px !important;
        padding-right: 80px !important;
    }
    .ps-22 {
        padding-left: 11%;
    }

    .line {
        margin-left: 80px;
    }

}





@media (max-width:992px) {
   
    .nav-bttn {
        color: #F66F4D;
        width: 127px;
        height: 36px;
        background: transparent;
        border-radius: 27px;
        border: 1.4px solid #F66F4D;
        transition: 0.1ms ease-in-out;
    }
    .item-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    dl,
    ol,
    ul {
        margin-left: unset !important;
        margin-top: unset !important;
        margin-bottom: unset !important;
    }

    .pt-100 {
        padding-top: 34px !important;
    }

    .mt-30 {
        margin-top: 30px !important;
    }

    .nav-bar-sm {
        position: fixed !important;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh !important;
        background: #FAF8ED;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 500ms;
        z-index: 10 !important;
    }

    .click_box {
        height: 10px;
        width: 25px;
        z-index: 10;
    }
}
